.page {
	&__body {
		color: var(--dark);
		min-width: 320px;
		overflow-x: hidden;
		position: relative;
		background-color: var(--light);

		max-width: 1440px;
		margin: 0 auto;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
	}
}
