.promo {
	background-image: url('../images/promo-bg.png');
	width: 100%;
	min-height: 696px;

	position: relative;

	&-content {
		margin-left: 88px;
		padding-top: 195px;

		max-width: 404px;

		&-title {
			font-weight: bold;
			font-size: 56px;
			line-height: 62px;
			color: var(--dark);
		}

		&-descr {
			margin-top: 16px;
			font-weight: bold;
			font-size: 18px;
			line-height: 24px;
			color: var(--dark-black-text);
		}

		&-button {
			&-block {
				display: flex;
				padding-left: 3px;
				margin-top: 40px;
				column-gap: 5px;
			}

			&-white {
				display: inline-block;
				padding: 0 40px;
				min-height: 46px;
				display: flex;
				align-items: center;

				background: var(--light);
				border: 1px solid var(--light);
				border-radius: 24px;

				font-weight: bold;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
				color: var(--dark);
			}

			&-transparent {
				margin: 0;
				padding: 0 23px;
				min-height: 46px;
				display: inline-block;

				border-radius: 24px;
				border: none;
				background-color: transparent;

				font-weight: bold;
				font-size: 14px;
				line-height: 20px;

				color: var(--dark);
			}
		}
	}

	&-footer {
		padding: 15px 23px 12px 88px;
		min-width: 500px;

		position: absolute;
		bottom: -22px;
		left: 0;

		background-color: var(--pink);
	}
}
