::selection {
	background-color: var(--dark); // Заменить
	color: var(--light);
}

input,
textarea {
	outline: none;

	&:focus:required:invalid {
		border-color: var(--pink);
	}

	&:forus:valid {
		border-color: var(--blue);
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

a {
	text-decoration: none;
}
